*~
*.o
*.so
*.user
*.project
build/
tmp/
stl/
affiche/
factures/
regles/
Mécanique.lnk
pc/config.ini
pc/logs/
pc/junit/
pc/videos/
.classpath
.cproject
.settings
project.properties
*.class
/bin/
*.aux
*.log
*.out
*.gz
*.toc


# Pour les IDE fancy
/**/.idea/
/**/.vs/
/teensy/**/Debug/
*.sln
/**/__vm/
*.vcxproj
*.vcxproj.filters
*.vscode

# Pour le python
/**/__pycache__/
*.pyc

# Documentation
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.psd

# Eagle
*.b#?
*.s#?
*.l#?
