[submodule "high_level/graphic-toolbox"]
	path = high_level/graphic-toolbox
	url = ../../PFGimenez/graphic-toolbox.git
    branch = master
[submodule "high_level/config"]
	path = high_level/config
	url = ../../PFGimenez/config.git
    branch = master
[submodule "high_level/The-Kraken-Pathfinding"]
	path = high_level/The-Kraken-Pathfinding
	url = ../../PFGimenez/The-Kraken-Pathfinding.git
    branch = master
[submodule "high_level/dependency-injector"]
	path = high_level/dependency-injector
	url = ../../PFGimenez/dependency-injector.git
    branch = master
