*~
*.o
*.so
*.gz


# Dossiers top secrets
tmp/
regles/
mécanique/


# Documentation
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.psd


*.user
*.project
build/


pc/config.ini
pc/logs/
pc/junit/
pc/videos/
.classpath
.cproject
.settings
project.properties
*.class
/bin/
*.aux
*.log
*.out

*.toc

